:root {
  /* font */
  --mainheading: "Anton", sans-serif;
  --secondary: "Oswald", sans-serif;
  --paratext: "Poppins", sans-serif;

  /* color */
  --text-grey: #3f4954;
}
/*project for submisssion*/
html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
p {
  font-family: var(--paratext);
  color: rgb(110, 109, 109);
}
a {
  text-decoration: none;
  color: var(--text-grey);
}
/* i{
    font-size: 2rem;
    display:flex;
    min-width: 4vh;
    justify-content: space-between;
} */
ul {
  list-style-type: none;
}
h1 {
  font-family: var(--paratext);
  font-size: 2.6rem;
}
h3 {
  font-family: var(--paratext);
  font-size: 1.1rem;
}
button.btn {
  border: none;
  border-radius: 1.5rem;
  padding: 0.8rem 3rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  margin: 1.8rem;
}
/* span{
    font-size:2rem;
} */
/* -----------------------------------------*/
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-menu {
  justify-content: space-between;
}
.togglecollapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}
.dropdown {
  height: 100vh;
}
.toggleicon {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
  font-size: 1.6rem;
}
.iconcolor {
  color: #19c0cf;
}
.nav .navitems {
  display: flex;
  margin: 0;
}

.navlink {
  /* justify-content: space-around;
    min-width: 15vh;
    transform: translateY(100%); */
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--secondary);
}
.social {
  padding: 1.4rem 0;
  font-size: 1.5rem;
}
li.navlink:hover {
  background-color: #104f55;
}
.social i {
  padding: 0 0.5rem;
}
a i:hover {
  color: #19c0cf;
}
.navlink:hover a {
  color: white;
}
.nav .name a {
  font-size: 1.6rem;
  padding: 1rem 0rem;
  display: block;
  font-family: var(--mainheading);
}

.sitetitle {
  background: url(img/bg.jpg);
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
  border: 10px solid white;
  border-radius: 2.25rem;
}
.sitebg {
  padding-top: 10rem;
  text-align: center;
  color: white;
}
.sitebg h1,
h3 {
  margin: 0.3rem;
}
.sitetitle .btn:hover {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  color: white;
}
/* .sitetitle {
    border:none;
    border-radius: 1.5rem;
    padding:0.8rem 3rem;
    cursor:pointer;
    background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);    margin: 1.8rem;
} */

/* BLOG C O N T E N T*/
.blog {
  background: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border: 10px solid white;
  border-radius: 2.25rem;
}
.blog .blog-post {
  padding-top: 6rem;
}
.blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
.blogtitle {
  padding: 1.5rem 0;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
.blog-content .blogbtn {
  margin: 0.5rem;
}

.blog-content .span {
  display: block;
}
.blogtitle h3 {
  margin: 0 4.9px;
}

section .container .owl-nav {
  position: absolute;
  top: 10%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-grey);
  background: transparent;
  font-size: 2rem;
}

/* .owl-theme .owl-nav [class*='.owl']:hover{
    background:transparent;
    color:red;
} 
NOT WORKING!!!*/

/*------------archives----------------*/
main .sitecontent {
  display: grid;
  grid-template-columns: 70% 30%;
}
main .postcontent {
  margin: 1.6rem;
  margin-bottom: 0rem;
  padding: 1.2rem 1rem;
}
main .sitecontent .postcontent > .postimage,
.posttitle {
  padding: 1rem 2rem;
  position: relative;
}
main .sitecontent .postcontent > .postimg .postinfo {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}
main .sitecontent .postcontent > .postimg .postinfo2 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 1rem;
  position: absolute;
  bottom: -139%;
  left: 20vw;
  border-radius: 3rem;
}
/* }.postcontent> .postimg .postinfo{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding:1rem;
    position:absolute;
    bottom:0%;
    left:20vw;
    border-radius: 3rem;
} */
.postcontent > .postimg > div {
  overflow: hidden;
  border-radius: 1.5rem;
}

main .sitecontent .postcontent > .postimg .img {
  width: 100%;
  transition: all 1s ease;
}

main .sitecontent .postcontent > .postimg .img:hover {
  transform: scale(1.3);
}
main .sitecontent .postcontent > .postimage .postinfo span {
  margin: 0 0.5rem;
}
main .postcontent .posttitle a {
  font-family: var(--secondary);
  font-size: 1.5rem;
}
.sitecontent .postcontent .posttitle .postbtn {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
}
/* .postimg img{
    width: 95%;
    border: 5px solid white;
    border-radius: 1.5rem;
} */
.sitecontent .pagination {
  justify-content: center;
  color: grey;
  margin: 4rem 0;
}
.sitecontent .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--paratext);
}

.sitecontent .pagination .pages {
  background: black;
  color: white;
}

/*/------------------------sidebar----------------*/
.sitecontent > .sidebar .categorylist {
  font-family: var(--paratext);
}
.sitecontent > .sidebar .categorylist .listitems {
  background: red;
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.sitecontent > .sidebar .categorylist .listitems a,
span {
  color: white;
}

.sitecontent .sidebar .popularpost .postcontent {
  padding: 1rem 0;
}
.sitecontent .sidebar .popularpost h2 {
  padding-top: 8rem;
}
.sitecontent .sidebar .popularpost .postinfo {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.sitecontent .sidebar .popularpost .posttitle a {
  font-size: 1rem;
}

/*-----------------newsletter--------------*/

.sitecontent .sidebar .newsletter {
  padding-top: 3rem;
  margin-left: 2.2rem;
}
.sitecontent .sidebar .newsletter .formelement {
  padding: 0.5rem 2rem;
}

.sitecontent .sidebar .newsletter .inputelement {
  width: 80%;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  font-family: var(--paratext);
  font-size: 1rem;
}
.sitecontent .sidebar .newsletter .formbtn {
  border-radius: 0%;
  padding: 8rem 32%;
  margin: 1rem 0;
}

/*--------------tags---------------------------*/

.sitecontent .sidebar .populartags {
  padding: 4rem 0;
  margin-left: 2.2rem;
}
.sitecontent .sidebar .populartags .tags .tag {
  background: pink;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

/*------------------footer-------------*/

footer.footer {
  height: 100%;
  background: black;
  position: relative;
}

footer.footer{
    border:solid white;
    border-top-left-radius:2.2rem;
    border-top-right-radius:2.2rem;
    margin:0 .5rem;
}
footer.footer .container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr/*25% same*/
  grid-template-columns: repeat(4, 1fr);
}
footer.footer .container h2 {
  color: white;
}

footer.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.3rem 0.9rem;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--paratext);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .formelement span{
    background: blue;
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

/* footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
} */

footer.footer .move-up{
    position: absolute;
    right: 3%;
    top: 60%;
}

footer.footer .move-up span{
    color:rgb(0, 247, 255);
    transition: color 0s , font-size 0.5s;
}

footer.footer .move-up span:hover{
    color: white;
    font-size:1.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 1130px){
    .sitecontent .postcontent > .postimg .postinfo{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .sitecontent .sidebar .popularpost .postinfo{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 760px) {
  /* .social{
        display: flex;
        justify-content: space-between;
        min-width: 50vh;
        flex-direction: column;
    } */
  .nav-menu,
  .navitems {
    flex-direction: column;
  }

  .togglecollapse {
    display: initial;
  }

  main .sitecontent{
    grid-template-columns: 100%;
}

footer.footer .container{
    grid-template-columns: repeat(1, 1fr);
}

}

@media only screen and (max-width: 520px){
    .sitebg{
        padding-top:5rem;
    }
    main .blog{
        height: 80vh;
    }

    .sitecontent .postcontent > .postimg .postinfo{
        display: none;
    }
    /* footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    } */

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .togglecollapse{
        width: 80% !important;
    }

}